.logo-print {
  margin: 0 0 20px;
}

#header {
  position: relative;
  z-index: 9999;

  @include media('<#{$screen-md}') {
    background: $white;
    position: relative;
    z-index: 999;
  }

  &.mouseover-overlay {
    &:after {
      content: '';
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      left: -99999px;
      right: -99999px;
      top: 100%;
      bottom: -99999px;
      z-index: -1;

      @include media('<#{$screen-md}') {
        display: none;
      }
    }
  }

  .link,
  .social-link {
    @extend %listreset;
    @extend %clearfix;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;

    @include media('<#{$screen-md}') {
      margin: 0 0 5px;
    }

    li {
      display: inline-block;
      vertical-align: bottom;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .social-link {
    margin: -2px 0 0 29px;
  }

  .link {
    font: 12px/17px $font-family-open-sans;

    li {
      margin: 0 0 0 31px;
    }

    [class^="icon-"] {
      color: #bebebe;
      font-size: 17px;
      display:inline-block;
      vertical-align:bottom;


      &.icon-chevron-thin-down {
        font-size: 10px;
        margin: -3px 0 0 4px;
        vertical-align: middle;
        color: #8f8f8f;
      }

      &.icon-globe{
        font-size: 18px;
        margin: 0 8px 0 0;
      }

      &.icon-lock {
        margin: 0 8px 0 0;
      }
    }

    a {
      color: #666;

      &:hover {
        color: #3377b5;

        [class^="icon-"] {
          opacity: 0.8;
        }
      }
    }
  }

  .navbar-form {
    position: relative;
    margin: -8px 0;
  }

  .form-group {
    @include media('<desktop') {
      display: block;
      width: 100%
    }
  }

  .form-control {
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    font-style: italic;
    border-color: #d9d9d9;
    border-width: 0 0 0 1px;
    box-shadow: none;
    border-radius: 0;
    padding: 7px 47px 7px 21px;
    color: #464646;
    width: 208px;

    @include placeholder {
      color: #464646;
    }

    @include media('<widescreen') {
      font-size: 12px;
      line-height: 17px;
      padding-left: 5px;
      width: 100%;
      padding-right: 30px;
    }

    @include media('<#{$screen-md}') {
      font-size: 16px;
      line-height: 21px;
      padding-right: 43px;
    }
  }

  [type="submit"] {
    background: transparent;
    font-size: 19px;
    border: none;
    border-radius: 0;
    color: #3377b8;
    position: absolute;
    top: 0;
    right: 14px;
    z-index: 1;

    &:hover {
      color: #464646;
    }

    &:focus {
      outline: none;
    }

    &:active {
      background: transparent;
      box-shadow: none;
    }

    @include media('<widescreen') {
      font-size: 13px;
      top: 2px;
    }

    @include media('<#{$screen-md}') {
      font-size: 19px;
      top: 50%;
      margin: -20px 0;
    }
  }
}

.language-holder {
  position: relative;

  &.hover,
  &:hover {
    .language-drop {
      opacity: 1;
      visibility: visible;
    }
  }
}

.language-drop {
  @extend %listreset;
  background: #eee;
  width: 68px;
  position: absolute;
  left: 24px;
  top: 25px;
  text-align: left;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s ease;

  .link.hover & {
    visibility: visible;
    opacity: 1;
  }

  &:before {
    content: '';
    background: transparent;
    position: absolute;
    top: -9px;
    left: 0;
    right: 0;
    height: 9px;
    z-index: 9;
  }

  li {
    display: block;
    margin: 0 !important;
    border-top: 1px solid $white;
    width: 100%;

    &.first-child {
      border: none;
    }

  }

  a {
    display: block;
    padding: 5px;

    &:hover {
      background: darken(#eee, 15%);
      color: $white !important;
    }
  }
}

.dropdown-menu {
  font-size: 13px;
  line-height: 18px;
  border-radius: 0;
  padding: 6px 22px 6px 27px;
  top: 55px;
  left: -28px;
  width: 244px;
  min-height: 416px;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.35);
  z-index: 3;
  border: 1px solid $white;

  .btn-back {
    display: none;
    border-bottom: 1px solid #d9d9d9;

    @include media('<#{$screen-md}') {
      display: block;
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 35px;
    background: transparent;

    @include media('<#{$screen-md}') {
      display: none;
    }
  }

  @include media('<=widescreen') {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    width: 179px;
  }

  @include media('<#{$screen-md}') {
    box-shadow: none;
    padding: 6px 0;
    position: absolute;
    left: 100%;
    width: 100%;
    background: $white;
    transition: left 0.4s ease;
    top: 0;
    display: block;
  }

  > li {
    border-top: 1px solid #d9d9d9;

    &:hover {
      .sub-dropdown-menu {
        @include media('>=#{$screen-md}') {
          opacity: 1;
          visibility: visible;
        }
      }

      > a {
          color: #3377b6;
        }
    }

    &:nth-child(2),
    &:first-child {
      border-top: none;
    }

    &.selected {
      @include media('<#{$screen-md}') {
        .sub-dropdown-menu {
          left: 0 !important;
          display: block;
        }
      }
    }

    a {
      font-weight: 600;
      padding: 14px 14px 14px 0;
      position: relative;
      white-space: normal;

      @include media('<#{$screen-md}') {
        padding: 6px 20px;
      }
    }
  }
}

.sub-dropdown-menu {
  @extend %listreset;
  background: $white;
  position: absolute;
  left: 100%;
  top: -1px;
  min-width: 241px;
  padding: 6px 27px;
  z-index: 2;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.35);
  transition: opacity 0.3s ease, visibility 0.3s ease, left 0.3s ease;

  @include media('>=#{$screen-md}') {
    opacity: 0;
    visibility: hidden;
  }

  &:after,
  &:before {
    content: '';
    background: $white;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.35);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: -5px;

    @include media('<#{$screen-md}') {
      display: none;
    }
  }

  &:before {
    width: 24px;
    background: $white;
    z-index: 1;
    right: auto;
    left: -23px;
    box-shadow: none;

    @include media('<widescreen') {
      left: -10px;
      width: 15px;
    }
  }

  @include media('<=widescreen') {
    padding-left: 20px;
    padding-right: 10px;
    min-width: 179px;
  }

  @include media('<#{$screen-md}') {
    box-shadow: none;
    padding: 6px 0;
    width: 100%;
  }

  > li {
    border-top: 1px solid #d9d9d9;

    &:hover {
      .sub-navigation-thumb {
        @include media('>=#{$screen-md}') {
          opacity: 1;
          visibility: visible;
        }
      }

      > a {
        color: #3377b6;
      }
    }

    &:first-child,
    &:nth-child(2) {
      border-top: none;
    }

    &.selected {
      @include media('<#{$screen-md}') {
        .sub-navigation-thumb {
          left: 0 !important;
          display: block;
        }
      }
    }

    a {
      padding: 15px 15px 15px 0;
      display: block;
      position: relative;
      color: #2a2a2a;

      @include media('<#{$screen-md}') {
        padding: 6px 20px;
      }

      &:hover {
        text-decoration: none;
        color: #3377b6;
      }

      .drop-opener {
        color: #3377b6;
        position: absolute;
        top: 40%;
        right: 0;

        @include media('<#{$screen-md}') {
          top: 27%;
          padding-right: 15px;
        }
      }
    }
  }
}

.sub-navigation-thumb {
  background: $white;
  position: absolute;
  left: 100%;
  top: 0;
  min-width: 383px;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.35);
  transition: opacity 0.3s ease, visibility 0.3s ease, left 0.3s ease;

  @include media('>=#{$screen-md}') {
    opacity: 0;
    visibility: hidden;
  }

  &:after,
  &:before {
    content: '';
    background: $white;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.35);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: -5px;

    @include media('<#{$screen-md}') {
      display: none;
    }
  }

  &:before {
    width: 27px;
    background: $white;
    z-index: 1;
    right: auto;
    left: -27px;
    box-shadow: none;

    @include media('<widescreen') {
      left: -11px;
      width: 16px;
    }
  }

  @include media('<=widescreen') {
    min-width: 0;
  }

  @include media('<#{$screen-md}') {
    box-shadow: none;
    min-width: 0;
    width: 100%;
    z-index: 3;
    overflow: hidden;
  }

  .thumbnail {
    background: transparent;
    padding: 24px 28px 0;

    @include media('<=desktop') {
      padding: 24px 10px 0 20px;
    }

    img {
      margin: 0 auto 14px;

      @include media ('<=widescreen') {
        max-width: 191px;
      }

      @include media('<#{$screen-md}') {
        max-width: 100%;
      }
    }

    h2 {
      font-size: 18px;
      line-height: 23px;
      font-weight: 600;
      color: #2a2a2a;
      text-transform: capitalize;
      margin: 0 0 4px;
    }

    p {
      margin: 0 0 16px;
    }

    .caption {
      font-size: 15px;
      line-height: 24px;
      text-transform: none;
      padding: 0;
    }

    .link {
      text-align: right !important;
      display: block !important;
      padding: 0 4px;

      a {
        display: inline-block;
        vertical-align: top;
        padding: 0;
      }
    }

    .learn-more {
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      color: #3377b4 !important;

      &:hover {
        color: darken(#3377b4, 15%);
      }
    }
  }
}

.header-t {
  background: #eee;
  text-align: right;
  padding: 6px 0 2px;
  letter-spacing: -4px;
}

.social-link {
  @extend %listreset;
  overflow: hidden;

  li {
    margin-right: 11px;
    margin-bottom: 3px;

    &:last-child {
      margin-right: 0;
    }

    a {
      &:hover {
        .icon-facebook {
          color: #3a589e;
        }

        .icon-twitter {
          color: #5ea9dd;
        }

        .icon-youtube {
          color: #f20000;
        }

        .icon-xing {
          color: #005d5e;
        }
      }
    }
  }

  [class^="icon-"] {
    color: #aeaeae;
    font-size: 16px;
    display:inline-block;
    vertical-align: middle;
    transition: color 0.15s ease;

    &.icon-twitter {
      font-size: 19px;
    }
  }
}

.navbar-default {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  z-index: 2;

  @include media('<widescreen') {
    font-size: 13px !important;
    line-height: 18px !important;
  }

  @include media('<#{$screen-md}') {
    padding: 15px 0 20px;
    margin: 0;
  }

  @include media('print') {
    display: none !important;
  }

  a {
    &:focus {
      outline: none;
    }
  }
}

.navbar-header {
  padding: 0 32px;

  @include media('<desktop') {
    padding: 0 20px;
  }

  @include media('<#{$screen-md}') {
    padding: 0 10px;
  }
}

.navbar-toggle {
  @include media('<=#{$screen-md}') {
    margin-top: -2px;
    margin-right: 0;
  }
}

.navbar-brand {
  padding: 0;
  margin-right: 77px;
  margin-top: 34px;

  @include media('<widescreen') {
    margin-right: 0;
    margin-top: 24px;
  }

  @include media('<#{$screen-md}') {
    margin-top: 0;
  }

  h1 {
    display:inline-block;
    vertical-align:top;
    margin: 0;
  }
}

.navbar-nav {
  padding: 47px 0 0;
  max-width: 53%;

  @include media('<widescreen') {
    padding: 30px 0 0;
    max-width: 58%;
  }

  @include media('<#{$screen-md}') {
    margin: 0;
    max-width: 100%;
    min-height: 242px;
  }

  > li {
    margin-left: 38px;
    margin-bottom: 13px;
    z-index: 1;
    
     > a {
      .drop-opener {
        @include media('>#{$screen-md}') {
          display: none;
        }
      }
     }

    @include media('<#{$screen-md}') {
      border-top: 1px solid #d9d9d9;
      margin-bottom: 0 !important;
    }

    &:hover {
      .dropdown-menu {
        @include media('>=#{$screen-md}') {
          display: block;
        }
      }

      > a {
        color: #3377b5;
      }
    }

    &.selected {
      @include media('<#{$screen-md}') {
        .dropdown-menu {
          left: 0 !important;
          display: block;
        }
      }
    }

    @include media('<widescreen') {
      margin-left: 15px;
    }

    @include media('<#{$screen-md}') {
      margin: 0 0 13px;
      position: static;
    }

    &:first-child {
      margin-left: 0;

      @include media('<#{$screen-md}') {
        border-top: none;
      }
    }

    &:last-child,
    &.second-last-child{
      .dropdown-menu {
        @include media('<#{$screen-md}') {
          left: 100%;
          right: auto;
          width: 100%;
        }

        > li {
          @include media('<widescreen') {
            padding: 0 0 0 20px;
          }

          @include media('<#{$screen-md}') {
            padding: 0;
          }
          &.selected {
            @include media('<#{$screen-md}') {
              .sub-dropdown-menu {
                left: 0;
              }
            }
          }

          > a {
            @include media('>=#{$screen-md}') {
              padding-left: 3px;
            }
          }
        }

        .drop-opener {
          right: 100%;
          top: 38%;
          
          @include media('<#{$screen-md}') {
            padding-right: 18px;
            right: 0;
            top: 8px;
          }

          [class^="icon-"] {
            transform: rotate(180deg);

            @include media('<#{$screen-md}') {
              transform: rotate(0deg);
            }
          }
        }
      }

      .sub-dropdown-menu {
        box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.35);
        right: 100%;
        left: auto;

        @include media('<#{$screen-md}') {
          box-shadow: none;
        }

        &:before,
        &:after {
          background: #fff;
          left: auto;
          right: -17px;
        }

        &:before {
          background: #fff;
          left: auto;
          box-shadow: -8px 3px 7px -7px rgba(0, 0, 0, 0.35);
          right: -14px;
        }

        @include media('<#{$screen-md}') {
          left: 100%;
          right: auto;
          width: 100%;
          overflow: hidden;
        }

        > li {
          @include media('<widescreen') {
            padding: 0 0 0 5px;
          }

          @include media('<#{$screen-md}') {
            padding: 0;
          }
          &.selected {
            @include media('<#{$screen-md}') {
              .sub-navigation-thumb {
                left: 0;
              }
            }
          }

          > a {
            @include media('>=#{$screen-md}') {
              padding-left: 3px;
            }
          }
        }
      }

      .sub-navigation-thumb {
        left: auto;
        right: 100%;

        &:before,
        &:after {
          background: #fff;
          left: auto;
          right: -17px;
        }

        &:before {
          background: #fff;
          left: auto;
          box-shadow: -8px 3px 7px -7px rgba(0, 0, 0, 0.35);
          right: -14px;
        }

        @include media('<#{$screen-md}') {
          left: 100%;
          right: auto;
          width: 100%;
        }
      }
    }

    > a {
      padding: 0;

      @include media('<#{$screen-md}') {
        padding: 10px 20px;
        font-weight: 600;
      }
    }
  }
}

.navbar-right {
  margin-right: 0;
  @include media('<widescreen') {
    max-width: 116px;
  }

  @include media('<#{$screen-md}') {
    max-width: none;
  }
}

.drop-slide {
  .nav-active & {
    left: 0;
    visibility: visible;
  }

  @include media('<#{$screen-md}') {
    background: $white;
    position: absolute;
    top: 56px;
    left: 100%;
    width: 100%;
    z-index: 99;
    transition: left 0.35s ease, visibility 0.35s ease;
    visibility: hidden;
  }

  .drop-opener {
    padding: 0;
    position: absolute;
    top: 40%;
    right: 0;
    color: #3377b6;
    
    @include media('<#{$screen-md}') {
      top: 27%;
      padding-right: 18px;
    }

    [class^="icon-"] {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.relative-block {
  position: relative;
}

.contact-detail {
  background: #0098a1;
  font-size: 14px;
  line-height: 14px;
  width: 288px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 15px 0 69px;
  border-radius: 0 0 59px 59px;

  @include media('<#{$screen-md}') {
    border-radius: 0;
    left: -42px;
    right: -42px;
    width: auto;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.46);
  }

  a{
    color: $white;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }

    &:focus {
      outline: none;
    }
  }

  [href^="tel:"] {
    font-size: 30px;
    line-height: 33px;
    font-weight: 300;
    position: relative;
  }

  .email {
    display: block;
    margin: 0 0 12px;
  }

  .icon-phone {
    font-size: 26px;
    color: $white;
    position: absolute;
    left: -34px;
    top: 3px;
  }
}